/* Підключення файлу скидання стилів */
/* @import url(reset.css) */
h1 {color: rgb(0, 96, 179);}
h1+p {color: brown;}
ul>li>a {color: darkblue;}
h2.title {color: darkorange;}
.text {color: rgb(128, 0, 94);}
.text.red{color: red;}
main>ol>li{color:magenta}
.ul-list{color:gray;}
main>p {color:blueviolet}
p.green{color: green;}
#republic {color: darkkhaki;}
main>h3 {color:aqua}
[class*="prac"]{color: red;}